html,
body {
    letter-spacing: 3.5px;
    font-family: "Times New Roman";
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F2F7FF;
}

.container {
    height: 100%;
    margin-right: 1vw;
}

h1 {
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: #142F5B;
    font-size: 4vw;
    margin-left: -15%;
}

h4 {
    font-size: 4vw;
    margin-top: 3vw;
    color: #43464D;
}

/*STYLE SEARCH BOX*/
input[type=text] {
    margin-top: 4vw;
    margin-left: -18%;
    width: 18vw;
    box-sizing: border-box;
    border: 2px solid #A2BCE5;
    border-radius: 0.5vw;
    font-size: 2vw;
    background-color: white;
    padding: 0.5vw 1vw 0.5vw 1vw;
}

#map {
    bottom: 0px;
    height: 100%;
    position: absolute;
    right: 0;
    left: 22vw;
    width: 65vw;
}

/*STYLE INFOWINDOW AND GOOGLE MAP IMAGE */
#pano {
    width: 60vw;
    margin-left: 9%;
    height: 24vw;
}

.infowindow {
    letter-spacing: 2px;
}

p {
    padding-left: 10%;
    font-size: 2.5vw;
}

/*STYLE LIST OF LOCATIONS*/
.list {
    margin-left: -50%;
}

ul {
    text-align: justify;
    list-style-type: none;
    font-size: 2.5vw;
    margin-left: -1.2vw;
}

li {
    margin-bottom: 1vw;
    margin-top: 1vw;
}

li:hover {
    color: #0077B3;
    cursor: pointer;
}
